/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
*.log

app/logs/dev.log

*.log

app/bootstrap.php.cache

app/bootstrap.php.cache

*.cache

app/bootstrap.php.cache
